body {
    box-sizing: border-box;
}

#container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.grid {
    height: 100%;
    width: 100%;
    border: 1px solid;
}